
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://img.freepik.com/foto-gratis/gafas-opticas-retro-primer-plano_23-2148290371.jpg?w=740&t=st=1687569884~exp=1687570484~hmac=b05c2b62965faf58a7523152d3c9dde19e0d34d993fc747ddd4cfc010bdbea50");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.subtitulo {
  text-align: center;
}

.principal {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-end;
  width: 50%;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
 
}

label {
  margin-top: 10px;
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.beneficios ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.beneficios {
  float: right;
  width: 30%;
}

.beneficios li {
  margin-bottom: 10px;
}
.social-media {
  text-align:center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.social-media img {
  width: 30px;
  margin: 0 5px;
}
.social{
  display: flex;
} 

/* Responsive*/
@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  .subtitulo {
    font-size: 16px;
  }

  form {
    margin-top: 10px;
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 8px;
  }

  .button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .social-media {
    padding: 10px;
  }

  h3 {
    font-size: 18px;
    text-align: center;
  }

  .social-media a {
    display:flex;
    margin-bottom: 20px;
    
  }

  footer {
    text-align: center;
    padding: 10px;
  }
}
